<div class="container">
    <h1>Current and Upcoming Events</h1>

    <div ng-repeat="event in viewEvents.events">
        <div ng-if="event.fields.end_time > viewEvents.date">
            <h3>((event.fields.name))</h3>
            <div>((event.fields.description))</div>
            <div>Starts: ((event.fields.start_time | date:"MM/dd/yyyy @ h:mma"))</div>
            <div>Ends: ((event.fields.end_time | date:"MM/dd/yyyy @ h:mma"))</div>

            <div ng-repeat="v in viewEvents.venues">
                <div ng-if="event.fields.venue == v.pk"> At: ((v.fields.name))</div>
        </div>

        <a href= "#/purchaseTickets">Purchase Tickets</a>
        </div>
        </div>
    </div>
</div>


